*, *:before, *:after {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    max-width: 100%;
    background-color: black;
}

.landing-background {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-image: url("assets/background_space.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    opacity: 0;
    margin: 0 auto;
    padding: 0 20px;
    width: 800px;
    max-width: 100%;
    text-align: center;
}

.content video {
    margin-top: -25px;
    width: 430px;
    max-width: 100%;
}

.content img {
    width: 800px;
    max-width: 100%;
}

.content p {
    margin: 30px 30px;
    color: white;
    font-size: 14pt;
    letter-spacing: 1.25pt;
    text-align: justify;
}

.content ul {
    margin: 30px 30px;
    color: white;
    font-size: 14pt;
    letter-spacing: 1.25pt;
    text-align: left;
}

.content a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.content .main-link {
    font-size: 11pt;
    border: white solid 2px;
    border-radius: 30px;
    padding: 8px 20px;
    transition: 0.3s ease all;
    color: white;
    letter-spacing: 1.5pt;
    margin: 10px;
}

.content .main-link:hover {
    transform: translateY(-4px);
    background-color: #e20b0b;
}

.content .social-link {
    margin: 25px 25px;
    width: 40px;
}

.content .email-button-text {
    padding: 0;
    margin: 0;
}

.content .email-button-copied-text {
    z-index: -1;
    opacity: 0;
    position: absolute;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    transform: translateX(-1em);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.content .email-button-copied-text.animation-up {
    opacity: 1;
    transform: translateY(-50px) translateX(-1em);
}
