*, *:before, *:after {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    max-width: 100%;
    background-color: black;
}

.content {
    margin: 0 auto;
    padding: 0 20px;
    width: 800px;
    max-width: 100%;
    text-align: center;
}

video {
    margin-top: -25px;
    width: 500px;
    max-width: 100%;
}

img {
    width: 800px;
    max-width: 100%;
}

p {
    margin: 30px 0;
    color: white;
    font-size: 14pt;
    letter-spacing: 1.25pt;
}

a {
    text-decoration: none;
    padding: 0;
}

a button {
    font-size: 11pt;
    border: white solid 2px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    padding: 8px 30px;
    transition: 0.3s ease all;
    background-color: black;
    color: white;
    letter-spacing: 1.5pt;
    margin: 20px;
}

a button:hover {
    transform: translateY(-3px);
    background-color: #e20b0b;
}